/*--- Partners section ---*/
.partners-section{
    padding: 30px 0;
    .partners-slider{
        .img-holder{
            width: 100%;
            padding-inline-start: 10%;
            img{
                width: 70%;
            }
        }
    }
}